/* General Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Prevents scrollbars from appearing due to overflow */
}

main {
  flex: 1; /* Allows main to grow and fill available space */
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 20px;
  padding-top: 75px; /* Creates space below the fixed header */
  overflow-y: auto;
}

.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #f9f9f9;
}

.container.hidden {
  display: none;
}


/* General Modal Styling*/
.modal {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal.hidden {
  display: none;
}

/* Modal Header */
.modal-header {
  background-color: rgb(104, 196, 244);
  align-items: center;
}

/* Modal content styling (full screen) */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.close-button {
  display: flex;
  align-items: center;     /* Vertically center the image */
  justify-content: center; /* Horizontally center the image */
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}


.close-button .close-button-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}




/* Transfer Planner Home */

#transfer-planner-home {
  align-items: center;
}

#transfer-planner-home .container-content {
  width: 100%;
  height: 100%;
  min-width: 280px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  overflow-y: auto;
}

#transfer-planner-home h1 {
  font-size: 2.6rem;
}

#transfer-planner-home #date {
  font-size: 1.2rem;
  color: #666;
}

#transfer-planner-home .saved-planner-grid {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#transfer-planner-home .planner-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: stretch;
  margin-top: 50px;
}

#transfer-planner-home .planner-list.hidden {
  display: none;
}

#transfer-planner-home .planner-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: #fff;
  border: 1px solid #888;
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#transfer-planner-home .planner-item:hover {
  border: 2px solid rgb(104, 196, 244);
}

#transfer-planner-home .planner-item .dates-and-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
}

#transfer-planner-home .planner-item #last-update{
  align-content: center;
  font-size: 1rem;
  color: #757575;
}


#transfer-planner-home .empty-message-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

#transfer-planner-home .empty-message-container.hidden {
  display: none;
}

#transfer-planner-home .empty-message-container .empty-image {
  flex: 1;
  max-height: 200px;
  max-width: 250px;
  margin-bottom: 20px;
}

#transfer-planner-home .empty-message-container h3 {
  text-align: center;
  max-width: 300px;
  margin-bottom: 10px;
  font-size: medium;
}

#transfer-planner-home .empty-message-container p {
  text-align: center;
  max-width: 300px;
  margin-bottom: 50px;
  font-size: small;
}

#transfer-planner-home .create-button {
  font-size: x-large;
  align-self: center;
  margin-bottom: 20px;
  padding: 20px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

#transfer-planner-home .create-button:hover {
  background-color: #0151a6;
}

#transfer-planner-home .create-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}







/* Modal Header */
.modal-header .title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  padding: 30px;
  margin: 0 auto;
  gap: 20px;
  font-size: 1.5rem;
  background-color: rgb(104, 196, 244);
  color: #094183;
  
}

/* Transfer Planner Styling */
.transfer-plan-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  padding: 30px;
}

.transfer-plan-form p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(9, 65, 131);
}

.transfer-plan-form .form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.transfer-plan-form label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

.transfer-plan-form select, input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.transfer-plan-form select:focus, input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.transfer-plan-form button.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.transfer-plan-form button.submit-button:hover {
  background-color: #0056b3;
}











/* transfer-planner Header Section */
#transfer-planner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.plan-header {
  text-align: left;
  min-width: 220px;
  min-width: 220px;
  margin-bottom: 1.2rem;
}

.plan-header h1 {
  font-size: 35px;
  color:#094183;
  margin-bottom: 30px;
  font-weight: bold;
}

.plan-header h2 {
  font-size: 20px;
  color:#0c58b0;
  margin-bottom: 15px;
}

.plan-header p {
  font-size: 20px;
  color: #888;
  color:#0e6ad3;
}

/* Grid Layout for Unit Slots */
.plan-grid {
  display: flex;
  flex: 1;
  flex-direction: row;
}

/* University Name Section */
.university-name-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.univeristy-name-slot {
  height: 100%;
  width: 100%;
  min-width: 220px;
  min-width: 220px;
  min-height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.university-name-column h3 {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

/* Units Connection column */
.unit-connection-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 10px;
}

/* Unit Slot */
.unit-slot {
  height: 100%;
  width: 100%;
  min-width: 220px;
  min-height: 245px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #fff;
}

.unit-slot:hover {
  border-color: rgb(104, 196, 244);
}

.unit-slot .unit-card {
  width: 100%;
  height:100%;
}

/* Search Icon */

.unit-slot .search-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: width 0.3s ease, border-radius 0.3s ease;
    position: relative;
    overflow: hidden;
}

.unit-slot .search-icon-container:hover {
    width: 200px;
    border-radius: 25px;
    justify-content: flex-start;
    padding-left: 15px;
}

.unit-slot .search-icon-container .search-icon {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.3s ease;
}

.unit-slot .search-icon-container:hover .search-icon {
    left: 20px;
}

.unit-slot .search-icon-container .add-text {
    opacity: 0;
    white-space: nowrap;
    color: black;
    font-size: 14px;
    margin-left: 50px;
    transition: opacity 0.3s ease;
}

.unit-slot .search-icon-container:hover .add-text {
    opacity: 1;
}

span.arrow-icon {
  font-size: 24px;
  color: #888;
  margin-bottom: 20px;
  align-self: center;
  align-self: center;
}

/* Action Buttons */
.action-buttons {
  text-align: center;
  margin-top: 30px;
}

.action-buttons .btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 10px;
}

.action-buttons .save {
  background-color: #4caf50;
  color: white;
}

.action-buttons .send-approval {
  background-color: #2196f3;
  color: white;
}

.action-buttons .btn:hover {
  opacity: 0.9;
}

/* Responsive Styling */
@media (max-width: 1200px) {
  .plan-grid {
    flex-direction: column;
  }

  .unit-connection-column {
    flex-direction: row;
  }

  .university-name-column {
    flex-direction: row;
  }

  .univeristy-name-slot{
    min-width: 220px;
    margin: 0;
  }

  span.arrow-icon {
    transform: rotate(-90deg);
    margin: 0 30px;
  }

  .univeristy-name-slot {
    min-height: 0;
  }
}




/* Search Bar */
.modal-header .search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(104, 196, 244);
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.modal-header .search-bar input {
  width: 90%;
  border: none;
  padding: 10px;
  font-size: 16px;
}

/* Styling specific to the unit search area */
.unit-search-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Filters */
.unit-search-container .filters {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.unit-search-container .filter-selection {
    flex: 1;
    margin-right: 20px;
}

.unit-search-container .filters label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.unit-search-container .filters select {
  padding: 10px;
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Heading for showing results */
.unit-search-container .results-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Cards grid layout */

.unit-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 20px; /* Space between the cards */
  margin: 30px 0;
}

/* General Card Styling */
.unit-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  border-color: #2196f3;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}

.unit-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Top Section: Unit Type and Icons */
.unit-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px 6px 0 0;
  margin-bottom:15px;
  padding: 8px;
  background-color: #2196f3;
}

.courseCode {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.unit-icons {
  display: flex;
  gap: 10px;
}

.unit-icons-btn, .unit-icons-btn:last-of-type {
  background:#fff;
  color: #333;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 0;
}

.unit-icons-btn:hover, .unit-icons-btn:last-of-type:hover {
  background-color:#888;
}

/* Unit Title */
.unit-name-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0 15px 20px;
}

/* Unit Details */
.unit-details-text {
  color:#333;
  font-size: 14px;
  margin: 0 15px 20px;
}

/* Semester Buttons */
.unit-semesters-row {
  display: flex;
  gap: 10px;
  margin: 0 15px 20px;
}

.semester-badge {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 4px;
}

/* Button for adding custom unit */
.unit-search-container .add-custom {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .unit-cards {
    grid-template-columns: 1fr;
  }

  .unit-search-container .filters select {
    width: 100%;
    margin-bottom: 10px;
  }
}










/* Unit Information Modal */

/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1001;
}

.modal-overlay.hidden {
  display: none;
}

/* Basic modal styling */
#unit-info-modal {
  position: fixed;
  z-index: 1002;
  left: calc(50% + 100px);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 550px;
  max-width: 800px;
  max-height: 80vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

/* Modal Header */
#unit-info-modal .modal-header {
  padding: 15px;
  background-color: #002855;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#unit-info-modal .modal-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#unit-info-modal .modal-title-header h1 {
  font-size: 1.5rem;
  margin: 0;
}



/* Unit Info Styling */
#unit-info-modal .unit-info-container {
  padding: 15px;
}

#unit-info-modal .unit-details-text {
  font-size: 1rem;
  color: #757575;
  margin: 10px 0;
}

#unit-info-modal .unit-name-text {
  font-size: 2rem;
  color: #002855; /* Dark blue */
  margin: 20px 0;
}

/* Tags Styling */
#unit-info-modal .tags-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  gap: 15px;
}

#unit-info-modal .semester-tags-container {
  display: flex;
  border-radius: 5px;
  font-size: 0.9rem;
  gap: 10px
}

#unit-info-modal .semester-tag {
  background-color:#ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}

#unit-info-modal .selected-tag {
  background-color:#002855;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 5px;
}

#unit-info-modal .selected-tag .check-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

/* Section Containers */
#unit-info-modal .section-container {
  margin-top: 30px;
  border-top: 1px solid #ccc; /* Add a top border */
  padding-top: 20px;
}

#unit-info-modal .section-container h2 {
  font-size: 1.2rem;
  color: #002855;
  margin-bottom: 10px;
}

#unit-info-modal .section-container p {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 10px;
  display: flex;
  align-items:start;
}

#unit-info-modal .section-container .unit-course-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between items */
}

#unit-info-modal .section-container .unit-course-container .course-item {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}


#unit-info-modal #handbook-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 10px;
}

#unit-info-modal #handbook-link .share-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 5px;
}

/* Full-screen modal for small devices */
@media only screen and (max-width: 768px) {
  #unit-info-modal  {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
    max-height: none;
  }

  #unit-info-modal .modal-header {
    border-radius: 0;
  }
}

.custom-tag {
  display: inline-block; 
  background-color: #f0c040;
  color: white;
  border-radius: 5px; 
  font-size: x-small;
}

.float {
  position: fixed;
  float: right;
}

/** Input containers for add custom unit**/
.input-container {
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: small;
}

.input-container input {
  width: 80%;         
  padding: 6px 8px;   
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  font-size: 14px; 
}

.input-container input:focus {
  border-color: #007bff;
  outline: none;
}

#add-custom-unit-modal{
  padding: 10px;
  position: fixed;
  z-index: 1002;
  left: calc(50%);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 550px;
  max-width: 800px;
  max-height: 80vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  padding: 10px;
}

.input-container input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#add-custom-unit-modal h3 {
  font-size: 1.8em;            
  color: white;            
  font-weight: bold;       
  text-align: center;        
  margin-bottom: 10px;      
  margin-top: 10px;       
  letter-spacing: 1px;      
  text-transform: uppercase;   
}

.padding {
  margin: 10px;
}

.input-button{
  background-color: #4da5f5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 15px;
  width: auto;
}

.input-button:hover{
  background-color: #3b90d5;
}


/* Tooltip container */
.ai-recommendation-icon {
  position: relative;
  display: inline-block;
  margin-top: 2px;
  color: gold;
  cursor: help;
  font-size: 1rem;
}

/* Tooltip text */
.ai-recommendation-icon .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.ai-recommendation-icon .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ai-recommendation-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}